html {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    ". aside main ."
    "footer footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 10% 10% 1fr 20%;
  grid-gap: 10px 10px;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin: 0;
  font-size: calc(0.7rem + 0.7vw);
  line-height: calc(1.1rem + 0.5vw);
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

.container {
  box-sizing: border-box;
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-gap: 1px 1px;
  padding: 5vw;
}

.square {
  border: 0.1px solid black;
}

.ink {
  background-color: black;
}

.slider {
  outline: none;
}

.clear {
  background-color: white;
}

footer {
  grid-area: footer;
  font-size: calc(0.6rem + 0.5vw);
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    grid-template-rows: 60px 1fr 100px 40px;
    grid-template-columns: 1fr;
    grid-gap: 5vw 5vw;
  }

  .container {
    width: 70vw;
    height: 70vw;
    padding: 0;
  }
}
