
html, body, p{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: calc(0.7rem + 0.7vw);
  line-height: calc(1.1rem + 0.5vw);
}

header {
  flex: 0 0 auto;
  font-size: 4vmin;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  outline: 3px solid black;
  height: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  flex-shrink: 0;
  height: 0.4vh;
  width: 0.4vh;
  border: 1px black solid;
}

footer {
  flex: 0 0 auto;
  font-size: calc(0.6rem + 0.5vw);
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
}